<h1>user management</h1>

<ul class="list-group">
    <% for (const i in users) { %>
        <li class="list-group-item"><%= users[i].username%> (<%= users[i].nama_lengkap %>)</li>
    <% } %>
</ul>
  